* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;

    --f-medium: 500;
    --t-color: #081239;
    --h-color: #060e2a;

    --history-color: #bd6807;
    --animals-color: #2ca02b;
    --sports-color: #2375bf;
    --games-color: #4814a6;
    --general-color: #349bcb;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    overflow: hidden;
}




/* quiz menu container style start */
.menu-container {
    background-color: white;
    width: 340px;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
}

.menu-container-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container-heading-container>div {
    position: relative;
}

.menu-container-heading {
    color: var(--h-color);
    font-size: 1.25rem;
}

.menu-container-setting-btn {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}

.menu-container-setting-btn:active,
.setting-btn:active  {
    transform: scale(0.96);
}

.setting-page {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    top: -17px;
    left: 60px;
    transform: translateX(-20px);
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
    transition: all 200ms ease-in-out;
}

.setting-page input,
.setting-page select {
    border: none;
    border-bottom: 1px solid var(--h-color);
    outline: 1px solid transparent;
    width: 200px;
}

.setting-page label {
    color: var(--t-color);
    margin-bottom: .7rem;
    display: block;
    font-weight: var(--f-medium);
}

.setting-page>div {
    margin-bottom: 20px;
}

.setting-btn {
    border: none;
    background-color: var(--t-color);
    color: white;
    padding: 10px;
    width: 90px;
    cursor: pointer;
    border-radius: 4px;
}

.menu-container-category {
    list-style: none;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.menu-container-category>li {
    cursor: pointer;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .95rem;
    border-radius: 8px;
    color: white;
    transition: all 200ms ease;
}

.menu-container-category>li>span {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.menu-container-category>li:active {
    transform: scale(0.95) !important;
}

.history-23 {
    background-color: var(--history-color);
    border: 2px solid var(--history-color);
    transform: scale(1);
}

.history-23:hover,
.animals-27:hover,
.sports-21:hover,
.games-15:hover,
.general-9:hover  {
    transform: scale(1.05);
}

.animals-27 {
    background-color: var(--animals-color);
    border: 2px solid var(--animals-color);
}

.sports-21 {
    background-color: var(--sports-color);
    border: 2px solid var(--sports-color);
}

.games-15 {
    background-color: var(--games-color);
    border: 2px solid var(--games-color);
}

.general-9 {
    background-color: var(--general-color);
    border: 2px solid var(--general-color);
}

#startBtn {
    margin-top: 50px;
    width: 100%;
    padding: 13px 10px;
    border: none;
    background-color: #073a9e;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    transition: 100ms;
}

#startBtn>i {
    font-size: 1.1rem;
}

#startBtn:active {
    transform: scale(0.98);
}

/* quiz menu container style end */



/* quiz question container style start */
.quiz-container {
    position: absolute;
    inset: 0;
    transform: translateY(-100%);
    pointer-events: none;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 500ms ease;
}

.quiz-card {
    opacity: 0;
    transform: translateY(-10px);
    background-color: white;
    width: 500px;
    border-radius: 6px;
    padding: 25px;
    transition: opacity 250ms 700ms ease, transform 250ms 700ms ease-out;
}

#quizTitle {
    text-transform: capitalize;
}

.quiz-tracker {
    margin-bottom: 20px;
}

.current-question {
    font-weight: bold;
    color: var(--h-color);
    display: flex;
    justify-content: space-between;
}

.tracker-container {
    margin-top: 5px;
    background-color: #060e2a2a;
    height: 4px;
}

.tracker-bar {
    width: 0px;
    height: inherit;
    background-color: #081239;
    transition: 500ms;
}

.question {
    font-size: 1.1rem;
    color: var(--h-color);
}

.answer-list {
    margin-top: 20px;
    list-style: none;
}

.answer {
    margin-block: 10px;
    border: 1px solid var(--t-color);
    padding: 10px;
    color: var(--t-color);
    font-size: .95rem;
    cursor: pointer;
}

#nextBtn {
    margin: 40px auto 0px;
    padding: 10px;
    width: 120px;
    background-color: var(--t-color);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* quiz question container selty style end */



/* loading screen style start */
.loading {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.836);
    transition: 350ms;
}

.loading>.circle {
    width: 35px;
    border-radius: 50%;
    border: 6px dotted black;
    margin-bottom: 10px;
    aspect-ratio: 1/1;
    transform: rotate(0deg);
    animation-name: rotateAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes rotateAnimation {
    to {
        transform: rotate(360deg);
    }
}

.correct {
    background-color: #04ba1b;
    color: white;
    border: 1px solid transparent;
}

.incorrect {
    background-color: #ef0505;
    color: white;
    border: 1px solid transparent;
}

/* loading screen style end */



/* result page style start */
.result-page {
    background-color: white;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.emoji {
    margin-inline: auto;
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #063bad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.grade {
    font-weight: var(--f-medium);
    margin-top: 10px;
    font-size: 1.6rem;
    color: var(--h-color);
}

.short-message {
    font-size: .9rem;
    color: var(--t-color);
}

.back-btn {
    background-color: var(--h-color);
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    width: fit-content;
    text-align: center;
    font-weight: var(--f-medium);
    margin-top: 3rem;
    cursor: pointer;
    font-size: .9rem;
}

/* result page style end */



/* utility class style start */

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.opacity-1 {
    opacity: 1;
}

.pointer-events-all {
    pointer-events: all;
}

/* utility class style end */